*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.main-bg{
    width: 100vw;
    height: calc(100vh - 80px);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 80px;
    line-height: 80px;
    position: fixed;
    width: calc(100vw - 200px);
    top: 0;
    z-index: 99;
    left: 200px;
    user-select: none;
    background-image: linear-gradient(135deg, rgb(120, 120, 120) 0%, rgb(40, 40, 40) 100%);
}
.header .logo{
    padding-left: 30px;
}
.header .logo img{
    width: 30px;
    height: 30px;
    margin-top: -5px;
    vertical-align: middle;
}
.header .logo span{
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}
.header .user{
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
}
.header .user li{
    padding: 0 40px;
    box-sizing: border-box;
}
.user .username{
    color: #FFF;
}
.user .username img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}
.user .logout{
    cursor: pointer;
}
.user .logout img{
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 2px;
}
.user .logout span{
    color: #fff;
}
/* 左侧 */
.left-menu{
    width: 200px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(120, 120, 120), rgb(40,40,40));
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    line-height: 40px;
    user-select: none;
}
.left-menu .user-news{
    height: 220px;
    width: 200px;
}
.user-news img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 40px;
}
.user-news span{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.left-menu dt{
    padding-left: 9px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
.left-menu dd{
    padding-left: 50px;
    cursor: pointer;
    position: relative;
    color: #eee;
}
.left-menu dd:nth-child(2)::before{
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../img/find.png);
    background-size: 100%;
    position: absolute;
    left: 29px;
    top: 11px;
}
.left-menu dd:nth-child(3)::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/add.png);
    background-size: 100%;
    position: absolute;
    left: 28px;
    top: 12px;
}
.left-menu dd:nth-child(4)::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/add.png);
    background-size: 100%;
    position: absolute;
    left: 29px;
    top: 10px;
}
.left-menu dd:nth-child(5)::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/add.png);
    background-size: 100%;
    position: absolute;
    left: 29px;
    top: 10px;
}
.left-menu dd:nth-child(6)::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/add.png);
    background-size: 100%;
    position: absolute;
    left: 29px;
    top: 10px;
}
.left-menu dd span{
    position: absolute;
    right: 18px;
}
.left-menu dd:hover{
    background-color: rgba(200, 200, 200, 0.6);
    color: #000;
}
.left-menu .active{
    background-color: rgba(150, 150, 150, 0.5);
}
/* 右侧 */
.right-content{
    width: calc(100vw - 200px);
    height: 100%;
    margin-left: 200px;
    margin-top: 80px;
    background-color: #eee;
    position: relative;
}
/* 表格 */
#student-list{
    width: 100%;
    height: 100%;
    background-color: #EEE;
}
#student-list table{
    width: 100%;
    text-align: center;
    line-height: 36px;
}
table thead{
    background-color: #e3e8ee;
    color: #646987;
}
table tbody{
    background-color: #eee;
}
table tbody tr{
    background-color: #fff;
}
table tbody tr:hover{
    color: #fff;
    background-image: linear-gradient(135deg, rgb(120, 120, 120) 0%, rgb(40, 40, 40) 100%);
}
table tbody tr:hover .btn{
    background-color: 	#A9A9A9;
    color: #fff;
}
table .btn{
    border: none;
    padding: 3px 10px;
    cursor: pointer;
    outline: none;
}
table .edit{ 
    background-color: rgb(127, 132, 133);
}
table .remove{ 
    background-color: #665b3b;
}
.right-content .turn-page{
    width: 300px;
    position: absolute;
    bottom: 12px;
    left: calc(50% - 150px);
    
}
.turn-page #prev-btn{
    padding: 2px 8px;
    background-color: #d0d0d0;
    font: 16px Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
    user-select: none;
    cursor: pointer;
}
.turn-page #next-btn{
    margin-left: 100px;
    padding: 2px 8px;
    background-color: #d0d0d0;
    font: 16px Georgia, "Times New Roman", Times, serif;
    user-select: none;
    cursor: pointer;
}
/* 表单 */
#student-add{
    position: absolute;
    width: 100%;
    top: 0;
}
.modal{
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    top: 80px;
    z-index: 99;
}
.modal .mask{
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    top: 80px;
    z-index: -1;
    background-color: rgba(25, 25, 25, 0.35);
}
.modal #add-form{
    height: 580px;
    width: 600px;
    margin: 40px auto;
    font-size: 16px;
    user-select: none;
    background-color: #eee;
    border: 1px solid #d0d0d0;
}
.modal #edi-form{
    height: 580px;
    width: 600px;
    margin: 10px auto;
    font-size: 16px;
    user-select: none;
    background-color: #eee;
    border: 1px solid #d0d0d0;
}
#edi-form .form-head{
    width: 100%;
    height: 60px;
    margin-top: 15px;
    border-bottom: 1px solid #d0d0d0;
}
#edi-form .form-name{
    height: 40px;
    line-height: 40px;
    font: 28px Georgia, "Times New Roman", Times, serif;
    margin-left: 38px;
    color: #696969;
}
#edi-form .state{
    display: block;
    margin-left:38px;
    margin-top: 5px;
    color: #696969;
    font: 12px Georgia, "Times New Roman", Times, serif;
}
#edi-form div:not(.form-head){
    margin: 20px 0 20px 80px;

}
#edi-form label:not(.sex){
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-left: 10px;
}
#edi-form label{
    color: #696969;
    font: 18px Georgia, "Times New Roman", Times, serif;
}
#edi-form input[type="text"]{
    border: 1px solid #DADADA;
    color: #696969;
    height: 30px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 240px;
    font-size: 14px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
}
#edi-form .btn{
    padding: 5px 25px;
    margin-left: 24px;
    background: linear-gradient(to bottom, #ad6c7c 0%, rgb(216, 0, 255) 100%);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    outline: none;
}